<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Epoch OSX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Epoch iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A0E03731BF4A64200B15C63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B00511C41BEC3497001B3F26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B00511CE1BEC3497001B3F26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B00512881BEC3B73001B3F26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
